body{
  background-image: url(images/background1.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.container{
  width: 100%;
  height: 100vh;
  padding-right: 50%;
  color: #fff;
}

.navbar{
  padding-top: 50px;
  font-size: 1rem;
  top: 3%;
}
.navbar-nav{
  padding-top: 0.3%;
}

.brand-title{
  padding-top: 10px;
  font-weight: 700;
  font-size: 2.5rem;
  padding-left: 25px;
  padding-right: 25px;
}

nav{
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.logo{
  padding-top: 1px;
  width: 50px;
  cursor: pointer;
}
.btn {
  color: #fff;
  border: 1px solid #FB2576;
  background: transparent;
}

.btn:hover {
  border: 1px solid #ff960b;
  background-color: #ff960b;
  color: #fff;
  transition: 1s;
}

nav ul{
  flex: 1;
}

nav ul li{
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

nav .btn{
  padding-top: 20px;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 20px;
}

.content{
  margin-top: 8%;
}

.content h1{
  font-size: 88px;
  margin-bottom: 15px;
}

.content h1 span{
  color: #ff960b;
}

.content p{
  line-height: 22px;
  font-size: 14px;
}

.content .btn{
  display: inline-block;
  margin-top: 30px;
  background: #ff960b;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
}
.side-logo{
  width: 45%;
  left: 45%;
  top: 20%;
  position: absolute;
}


/*Title Coin*/
.coin-list{
  color: #943126;
  position: absolute;
  right: 10%;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.coin{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 0 20px;
  color: #ff960b;
  border: 1px solid #fff;
  padding: 10px 10px;
  border-radius: 8px;
}

.coin img{
  width: 50px;
  margin-right: 20px;
}

.coin h3{
  color: #fff;
  margin-bottom: 5px;
  font-size: 20px;
}


#coin-table{
  background-color: #fff;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-left: 100px;
}

.table-striped{
  margin: auto;
  text-align: center;

}
.text-center{
  text-align: 50px;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;

}

.sortable{
  text-align: center;
}

.button{
  color: #ff960b;

}


/*Footer Area*/

#footer{
  background-color: #1c2833;
  padding: 7% 14%;
  text-align: center;
  color: white
}

.foot-icon{
  color: white;
  padding: 20px 10px;

}
